*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
.font-bangla{
    font-family: "Hind Siliguri", sans-serif;
}

.btn-active{
    background-color: #3b82f6;
    color: white;
}